## Maven-specific ignore files from https://github.com/github/gitignore/blob/master/Maven.gitignore
target/

## Eclipse-specific ignore files from https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

## Java-specific ignore files from https://github.com/github/gitignore/blob/master/Java.gitignore
*.class

##Operating system specific
.DS_Store
